name: ML Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  mlops:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # --- RUN PREPROCESSING ---
      - name: Run preprocessing
        run: python scripts/preprocess.py

      # --- RUN TRAINING ---
      - name: Run training
        run: python scripts/train.py

      # --- SAVE METRICS AS ARTIFACT ---
      - name: Upload metrics
        uses: actions/upload-artifact@v4
        with:
          name: metrics
          path: metrics/metrics.json
